.item {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 10px;
  border: 1px solid red;
}

.item-image {
  display: block;
  width: 180px;
  height: 180px;
  margin-bottom: 4px;
}

.item-title {
  width: 100%;
  font-size: 1.2rem;
  margin: 3px 0px;
}

.item-price {
  width: 100%;
  font-size: 1.2rem;
  margin: 3px 0px;
}

.item-star-icon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.item-grade {
  width: 100%;
  font-size: 1.2rem;
  margin: 3px 0px;
}
